<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a class="w3-bar-item w3-button">User</a>
  <p class="w3-bar-item">Hallo, <%=userData.first_name%>%></p>
 
  <a href="/readers/:username/logout"class="w3-bar-item w3-button">Logout</a>
  <a href="#" class="w3-bar-item w3-button">Reader Papers</a>
  <a href="#" class="w3-bar-item w3-button">Papers</a>
  <a href="#" class="w3-bar-item w3-button">Papers Authors</a>
  <a href="#" class="w3-bar-item w3-button">Authors</a>
</div>

